################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Math/.vs/Math/v14
/Math/x64
/.vs/Crystal/v14
/MathTest/x64
/Crystal.VC.db
/Crystal.VC.VC.opendb
/x64
/Sample/x64
