################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Math/.vs/Math/v14
/Math/x64
/.vs/Crystal/v14
/MathTest/x64
/Crystal.VC.db
/Crystal.VC.VC.opendb
/x64
/Sample/x64
/Physics/x64/Release
/PhysicsTest/x64/Release
/Graphics/x64/Release
/GraphicsTest/x64/Release
/Shader/x64/Release
/.vs/Crystal/v15
/Graphics/x64/Debug
/GraphicsTest/x64/Debug
/IO/x64/Debug
/ipch/SHAPE-61897cf6
/packages
/Physics/x64/Debug
/PhysicsTest/x64/Debug
/Shader/x64/Debug
/Shape/x64/Debug
/ThirdParty/nativefiledialog/build/vs2010/NativeFileDialog.VC.db
/ThirdParty/nativefiledialog/build/vs2010/NativeFileDialog.VC.VC.opendb
/ipch/SHADER-c9bf7a22
